<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opensds.vasa.vasa.db.dao.ShareClientTableDao">
    <resultMap id="nShareClientTable" type="org.opensds.vasa.vasa.db.model.ShareClientTable">
        <result property="shareProperty" column="shareProperty" />
        <result property="shareId" column="shareId" />
    </resultMap>
    
    <select id="queryShareClientByShareId" resultMap="nShareClientTable" parameterType="String">
        select * from ShareClientTable where shareId = #{shareId}
    </select>

    <insert id="insertRecord" parameterType="org.opensds.vasa.vasa.db.model.ShareClientTable">
        insert into ShareClientTable
        values(
            #{shareProperty},
            #{shareId}
        )
    </insert>

    <delete id="deleteRecordByShareId" parameterType="String">
        delete from ShareClientTable where shareId = #{shareId}
    </delete>
    
    <delete id="deleteRecordByProperty" parameterType="String">
        delete from ShareClientTable where shareProperty = #{shareProperty}
    </delete>


</mapper>